* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	line-height:20px;
	font:14px Arial,Helvetica,sans-serif;
	color:#333;
	height: 100%;
	margin:20px;
	background: image-url("body-bg.png") repeat scroll center 0px transparent;
}
a {
	color:#ff0000;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
    color: #fff;
	text-decoration:underline;
}
a img {
	border:0;
}
input, textarea, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {
	float:left;
	display:inline;
}
.right, .alignright {
	float:right;
	display:inline;
}
.shell {
	min-width:1024px;
    max-width:1200px;
	margin:0 auto;
}
.shell-editor {
  width:400px;
  margin:0 auto;
}
.border {
	border:1px solid #e8e8e8;
	background:#fff;
	position:relative;
}
.shadow-l {
	background:image-url("shadow-l.png") no-repeat 0 0;
	width:25px;
	height:686px;
	position:absolute;
	top:0;
	left:-25px;
}
.shadow-r {
	background:image-url("shadow-r.png") no-repeat 0 0;
	width:25px;
	height:686px;
	position:absolute;
	top:0;
	right:-25px;
}
.shadow-b {
	background:image-url("shadow-b.png") no-repeat 0 0;
	width:980px;
	height:20px;
	position:absolute;
	bottom:-20;
	left:0;
}
#header {
	background-color:#2d97af;
	background-size: 100% 120px;
	height:120px;
	position:relative;
}
#logo a {
	background:image-url("logo.gif") no-repeat 0 0;
	width:356px;
	height:109px;
	position:absolute;
	top:0;
	left:0;
}

#navigation {
	height:43px;
	border-top:1px solid #dbdbdb;
	border-bottom:1px solid #dbdbdb;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	height:43px;
	border-right:1px solid #dbdbdb;
	font-size:12px;
	line-height:43px;
	font-weight:bold;
	text-transform:uppercase;
}
#navigation ul li a {
	float:left;
	height:43px;
	color:#000;
	padding:0 33px;
}
#navigation ul li a:hover, #navigation ul li a.active {
	color:#ff0000;
	text-decoration:none;
}
.slider {
	width:930px;
	height:300px;
	border:1px solid #dbdbdb;
	position:relative;
	margin:25px 0 0 24px;
}
.slider .item {
	position:relative;
	width:928px;
	height:298px;
}
.slider .item img {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.slider .text {
	position:absolute;
	top:102px;
	left:480px;
	z-index:2;
}
.slider .text h3 {
	font-size:45px;
	line-height:45px;
	color:#ff0000;
	padding:0 0 0 7px;
}
.slider .text h2 {
	font-size:58px;
	line-height:58px;
	color:#39393d;
	text-transform:uppercase;
	padding:0 0 0 2px;
}
.slider-nav {
	width:92px;
	height:18px;
	position:absolute;
	bottom:9px;
	right:6px;
	z-index:3;
}
.slider-nav a {
	width:18px;
	height:18px;
	background:#d7d7d8;
	margin:0 5px 0 0;
}
.slider-nav a.active {
	background:#39393d;
}
#main {
	padding:25px 5px 5px;
}
#main h3 {
	font-size:12px;
	line-height:15px;
	color:#000;
	text-transform:uppercase;
	border-bottom:1px solid #dbdbdb;
	padding:0 0 9px 0;
}

#main a.more:hover {
	text-decoration:none;
}
#content p{
  text-align: justify;
  font-size: 14px;
}
#content h1{
  margin-bottom: 20px;
}
#content h3{
  color:#000 !important;
}
.highlight h3 {
	margin:0 0 9px 0;
}
.highlight p {
	padding:0 0 11px 0;
}
.highlight img {
	margin:4px 12px 0 12px;
}
.projects h3 {
	margin:0 0 17px 0;
}
.projects .item {
	margin:0 0 28px 0;
}
.projects .image {
	width:183px;
	height:111px;
	border:1px solid #dbdbdb;
	padding:2px;
	margin:0 20px 0 3px;
}
.projects .text {
	width:100%;
}
.projects .text h4 {
	font-size:12px;
	line-height:15px;
	color:#333;
	text-transform:uppercase;
	padding:3px 0 2px 0;
}
.projects .text p {
	padding:0 0 3px 0;
}

#sidebar h3{
  text-transform: none;
  width: auto;
  color: #fff;
  font-weight: bold !important;
  padding:5px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 2px #000;
  font:12px Arial,Helvetica,sans-serif;
  box-shadow: 1px 1px 2px #0F7AAF;
  background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}

.sidebar-nav {
	list-style:none;
	padding:0 0 17px 0;
}
.sidebar-nav div{
  margin:5px;
}

.sidebar-nav p{
  margin:5px;
  padding:0;
  font-size: 13px;
  font-weight: bold;
}

.sidebar-nav ul {
	list-style:none;
    margin-left: 0px;
}
.sidebar-nav ul li {
    transition: background-color 0.6s ease;
	border-bottom:1px solid #2d97af;
	font-size:12px;
	line-height:18px;
	padding:7px 0;
}
.sidebar-nav ul li a {
	color:#333;
    display:block;
    margin:5px;
}

.sidebar-nav ul li:hover {
  border-bottom:1px solid #2d97af;
  font-size:12px;
  line-height:18px;
  padding:7px 0;
  background-color:rgba(45,151,175, 0.3);
}

.sidebar-nav ul li.active {
  background-color: #39b1cc;
  border-bottom:1px solid #2d97af;
  font-size:12px;
  line-height:18px;
  padding:7px 0;
  color: #fff !important;
  font-weight: bold !important;
  padding-left: 17px !important;
}

.sidebar-nav ul li.active:hover {
  font-size:12px;
  line-height:18px;
  border-left:none !important;
  padding:none !important;
  cursor:pointer;
}

.advertisement {
	padding:0 0 13px 0;
}
.advertisement h3 {
	margin:0 0 18px 0;
}
.advertisement .ads {
	padding:0 15px 0 7px;
}
.advertisement .ad {
	margin:0 0 18px 0;
}
#sidebar .info h3 {
	margin:0 0 7px 0;
}
#footer {
	font-family:Arial, sans-serif;
	font-size:11px;
	line-height:14px;
	color:#7f7f7f;
	padding:18px 27px 20px 38px;
}
#footer a {
	color:#7f7f7f;
	text-decoration:none;
}

#logo_txt{
	text-shadow:1px 1px 3px #000  !important;
	position: absolute;
	top:46px;
	left: 20px;
}

#logo_txt h2,h3{
    font-weight: bold;
    text-transform: uppercase;
	color:#fff !important;
}

#logo_txt h3{
    font-size: 1.17em;
	letter-spacing:10.2px !important;
}

#logo_txt h2{
  font-size: 1.5em;
}

#locale{
	float:right;
	position:absolute;
	right:10px;
	top:10px;
}

#locale span a{
  color:#fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

#redline{
	display: block;
	width:100%;
	height:5px;
	background-color: #C92A32;
}

#greenline{
	display: block;
	width:100%;
	height:5px;
	background-color: #118707;
}

#flag{
	background:image-url("flag.png") no-repeat 0 0;
	background-size: 30% 100%;
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	left:0;
}

#breadcrum{
  margin-left:15px;
  margin-top:10px;
}

#breadcrum a{
  font-size: 12px;
  text-transform: uppercase;
  color:#2d97af;
  font-weight: bold;
}



