<div id="footer">
  <p class="left">Copyright &copy; 2010, Your Company Here, All Rights Reserved</p>
  <p class="right">Design by <a href="http://chocotemplates.com">Chocotemplates.com</a></p>
  <div class="cl"></div>
</div>