<div id="header">
  <div id="flag"></div>
  <div id="logo_txt">
    <h2>НИЭИ МИНИСТЕРСТВО ЭКОНОМИКИ</h2>

    <h3>РЕСПУБЛИКИ БЕЛАРУСЬ</h3>
  </div>
  <div id="locale">
    <a href="#" class="button"/>Eng</a>
    <a href="#" class="button"/>Рус</a>
    <a href="#" class="button"/>Бел</a>
  </div>
  <div id="search">
    <form>
      <input type="search" placeholder="Search">
    </form>
  </div>
</div>
<div id="redline"></div>
<div id="greenline"></div>