<ul>
  <li><a href='#'><span><%= t "home" %></span></a></li>
  <% Menu.roots.each do |menu| %>
      <% menu_wrapper(@menu.try(:root)==menu, menu.has_children?) do %>
          <%= link_to menu do %>
              <%= content_tag :span, menu.name %>
          <% end %>
          <%= render 'submenus', menus: menu.children if menu.has_children? %>
      <% end %>
  <% end %>
</ul>
